name: Tests

on:
  push:
  pull_request:

# Ensure that new pushes/updates cancel running jobs
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test-config-old:
    name: Config only (old)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup Flutter
        id: config
        uses: ./
        with:
          path: test/.fvmrc
      - run: echo ${{ steps.config.outputs.FLUTTER_VERSION }}
      - run: echo ${{ steps.config.outputs.FLUTTER_CHANNEL }}
      - run: echo ${{ env.FLUTTER_VERSION }}
      - run: echo ${{ env.FLUTTER_CHANNEL }}

  test-setup-flutter-old:
    name: Setup Flutter (old)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup Flutter
        uses: ./
        with:
          path: test/.fvmrc
          setup: true
      - run: flutter --version

  test-config:
    name: Config only
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup Flutter
        id: config
        uses: ./config
        with:
          path: test/.fvmrc
      - run: echo ${{ steps.config.outputs.FLUTTER_VERSION }}
      - run: echo ${{ steps.config.outputs.FLUTTER_CHANNEL }}
      - run: echo ${{ env.FLUTTER_VERSION }}
      - run: echo ${{ env.FLUTTER_CHANNEL }}

  test-setup-flutter:
    name: Setup Flutter
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Setup Flutter
        uses: ./setup
        with:
          path: test/.fvmrc
          post-setup-script: |
            echo "Setup done!"
            flutter config --enable-swift-package-manager
      - run: flutter --version

